/* header {
    background-color: grey;
}

body {
    background-color: red;
}

main {
    background-color: yellow;
}

table {
    background-color: violet;
}

aside {
    background-color: aqua;
} */