/* Título ManteniMoto */
h1 { 
    font-family: "Audiowide", sans-serif;
    font-size: calc(1.3em + 5vw);
    text-align: center;
    user-select: none;
}

body {
    background-color: #2B2B2B;
    color: whitesmoke;
}

#buscador {
    margin-left: 1.2em;
    margin-right: 1.2em;
}

/* Botones redes */
.bi {
    font-size: calc(0.5em + 1.2vw);
    text-align: center;
}

#redesSociales {
    transition: 0.4s;
}

#redesSociales:hover {
    transform: scale(1.1) rotateY(360deg);
}

.copyright {
    font-size: 0.9em;
    font-weight: bold;
}

.cards {
    transition: all 0.3s;
}

.cards:hover {
    transform: scale(1.10);
}

/* Quitar apariencia de enlace al texto de las tarjetas */
.cardLink {
    text-decoration: none;
    color: whitesmoke;
}

.cardLink:hover {
    text-decoration: none;
    color: whitesmoke;
}

#moto {
    margin-top: 30%;
    transition: all 0.3s;
    size: 20vh;
}

#moto:hover {
    transform: rotate(28deg) translateX(-30%) scale(1.20);
}

.modal-content {
    background-color: #2B2B2B;
}

.modal-title {
    font-size: 2em;
}

tbody>tr:hover {
    cursor: pointer;
}

/* Filtro fecha */
.input-group {
    width: 15em;
    height: 2em
}

/* Contenedor de botón total gastado */
#divTotalGastado {
    width: 200px;
}

/* Adaptar tarjeta contenedora a la longitud del número del total gastado. */
#totalGastado {
    width: fit-content;
    height: fit-content;
}

@media (min-width: 768px) {
    #buscador {
        width: 30vh;
    }

    .card {
        margin-right: 2rem;
    }
}

@media(max-width: 420px) {

    th:nth-child(3),
    td:nth-child(3) {
        display: none;
    }

    .input-group {
        width: 10em;
    }
}

/* Solución al margen que pone bootstrap en la tabla */
.row {
    margin: 0 !important;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: none;
    scrollbar-color: #cc14ff;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }

  *::-webkit-scrollbar-track {
    background: transparent;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #a800d6;
    border-radius: 10px;
    border: 3px none #e00000;
  }