#moto {
    margin-top: 30%;
    transition: all 0.3s;
    size: 20vh;
}


h1 {
    font-family: "Audiowide", sans-serif;
    font-size: calc(1em + 5vw);
    text-align: center;
    user-select: none;
}

.bi {
    font-size: calc(0.5em + 1.2vw);
    text-align: center;
}

.copyright {
    font-size: 0.9em;
    font-weight: bold;
}

body {
    background-color: #2B2B2B;
    color: whitesmoke;
}


.cards:hover {
    transform: scale(1.10);
}

#moto:hover {
    transform: rotate(30deg) translateX(-40%) scale(1.50);

}

.cards {
    transition: all 0.3s;
}

.row {
    margin: 0 !important;
}

#buscador {
    
    margin-left: 1.2em;
    margin-right: 1.2em;
}
#redesSociales {
    transition: 0.4s;
}

#redesSociales:hover {
    transform: scale(1.1) 
    rotateY(360deg);
    
}

.modal-content {
    background-color: #2B2B2B;
}
.modal-title {
    font-size: 2em;
}

@media (min-width: 768px) {
    #buscador {
        width: 30vh;
    }
    .card {
        margin-right: 2rem;
    }
}


@media(max-width: 420px) {
    /* th:nth-child(4),
    td:nth-child(4) {
        display: none;
    } */
    .input-group {
        width: 10em;
    }
}

tbody > tr:hover {
    cursor: pointer;
}

.input-group {
    width: 15em;
    height: 2em
}

#divTotalGastado {
    width: 200px;
}

#totalGastado {
    width: fit-content;
    height: fit-content;
}
